name: publish-latest

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    types: ['closed']

jobs:
  build-and-publish-npm:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      - run: npm publish
        env:
          NODE_OPTIONS: '--openssl-legacy-provider'
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
